<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.authentication.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.authentication.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.authentication.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeStudentServlet</servlet-name>
        <servlet-class>controller.student.homeStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeStaffServlet</servlet-name>
        <servlet-class>controller.staff.homeStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeManagerServlet</servlet-name>
        <servlet-class>controller.manager.homeManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>controller.user.changePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfileServlet</servlet-name>
        <servlet-class>controller.user.viewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>controller.user.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPasswordServlet</servlet-name>
        <servlet-class>controller.user.forgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyCodeServlet</servlet-name>
        <servlet-class>controller.user.verifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>controller.user.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGoogleController</servlet-name>
        <servlet-class>controller.authentication.loginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createComplaintServlet</servlet-name>
        <servlet-class>controller.student.createComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>controller.staff.downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPublicAnsweredQuestions</servlet-name>
        <servlet-class>controller.student.viewPublicAnsweredQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewComplaintServlet</servlet-name>
        <servlet-class>controller.staff.viewComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionDetails</servlet-name>
        <servlet-class>controller.staff.questionDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMyCompleted</servlet-name>
        <servlet-class>controller.staff.viewMyCompleted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMyComplaint</servlet-name>
        <servlet-class>controller.student.viewMyComplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewComplaintManagerServlet</servlet-name>
        <servlet-class>controller.manager.viewComplaintManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMyCompletedServlet</servlet-name>
        <servlet-class>controller.manager.viewMyCompletedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionDetailsManager</servlet-name>
        <servlet-class>controller.manager.questionDetailsManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFileManager</servlet-name>
        <servlet-class>controller.manager.downloadFileManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMyComplaintCompletedServlet</servlet-name>
        <servlet-class>controller.student.viewMyComplaintCompletedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>controller.manager.addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCategory</servlet-name>
        <servlet-class>controller.manager.listCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFileM</servlet-name>
        <servlet-class>controller.manager.downloadFileM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.staff.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitVoteServlet</servlet-name>
        <servlet-class>controller.student.SubmitVoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationManagerServlet</servlet-name>
        <servlet-class>controller.manager.NotificationManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentNotification</servlet-name>
        <servlet-class>controller.student.StudentNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTotalQuestionsByCategoryServlet</servlet-name>
        <servlet-class>controller.manager.viewTotalQuestionsByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTotalComplaintByTimeServlet</servlet-name>
        <servlet-class>controller.manager.viewTotalComplaintByTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTotalStatusForMonthServlet</servlet-name>
        <servlet-class>controller.manager.viewTotalStatusForMonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeStudentServlet</servlet-name>
        <url-pattern>/student/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeStaffServlet</servlet-name>
        <url-pattern>/staff/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeManagerServlet</servlet-name>
        <url-pattern>/manager/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfileServlet</servlet-name>
        <url-pattern>/viewprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPasswordServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyCodeServlet</servlet-name>
        <url-pattern>/verifycode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGoogleController</servlet-name>
        <url-pattern>/login/google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createComplaintServlet</servlet-name>
        <url-pattern>/student/createcomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPublicAnsweredQuestions</servlet-name>
        <url-pattern>/student/viewAllQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewComplaintServlet</servlet-name>
        <url-pattern>/staff/viewcomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionDetails</servlet-name>
        <url-pattern>/staff/viewdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMyCompleted</servlet-name>
        <url-pattern>/staff/viewMyCompleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMyComplaint</servlet-name>
        <url-pattern>/student/mycomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManagerController</servlet-name>
        <url-pattern>/manager/createstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <url-pattern>/manager/viewstudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaffServlet</servlet-name>
        <url-pattern>/manager/viewstaff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaffManagerController</servlet-name>
        <servlet-class>controller.manager.StaffManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <servlet-class>controller.manager.ViewStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaffServlet</servlet-name>
        <servlet-class>controller.manager.ViewStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewComplaintManagerServlet</servlet-name>
        <url-pattern>/manager/viewcomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMyCompletedServlet</servlet-name>
        <url-pattern>/manager/viewmycompleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionDetailsManager</servlet-name>
        <url-pattern>/manager/viewdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFileManager</servlet-name>
        <url-pattern>/downloadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMyComplaintCompletedServlet</servlet-name>
        <url-pattern>/student/viewMyComplaintCompleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/manager/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCategory</servlet-name>
        <url-pattern>/manager/listCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFileM</servlet-name>
        <url-pattern>/downloadFileM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/staff/notificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitVoteServlet</servlet-name>
        <url-pattern>/student/submitVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationManagerServlet</servlet-name>
        <url-pattern>/manager/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNotification</servlet-name>
        <url-pattern>/student/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTotalQuestionsByCategoryServlet</servlet-name>
        <url-pattern>/manager/viewTotalQuestionsByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTotalComplaintByTimeServlet</servlet-name>
        <url-pattern>/manager/viewTotalComplaintByTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTotalStatusForMonthServlet</servlet-name>
        <url-pattern>/manager/viewTotalStatusForMonth</url-pattern>
    </servlet-mapping>
</web-app>
